body{
    font-family:cursive;
    text-align: center;
    background-color: green;
    color:yellow;
}

p{
    border:5px solid yellowgreen;
    border-width: 2px;
    border-radius: 0.9em;
    text-align: left
}